@page "/add-courrier"
@layout MainLayout
@inherits ArchiveCorr.Pages.AddCourrierComponent

@using Radzen
@using Radzen.Blazor
@using ArchiveCorr.Models.Appdb
@using Microsoft.AspNetCore.Identity;
@using ArchiveCorr.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Add Courrier</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@courrier" TItem="ArchiveCorr.Models.Appdb.Courrier" Visible="@(courrier != null)" Submit="@Form0Submit">
          <ChildContent>
            <RadzenCard>
              <ChildContent>
                <div class="row">
                  <div class="col-md-2">
                    <RadzenLabel Component="num" style="width: 100%" Text="N°">
                    </RadzenLabel>
                    <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(courrier.num)" Name="Num">
                    </RadzenTextBox>
                    <RadzenLabel Component="numInterne" style="width: 100%" Text="N° Interne">
                    </RadzenLabel>
                    <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(courrier.numInterne)" Name="NumInterne">
                    </RadzenTextBox>
                  </div>
                  <div class="col-md-2">
                    <RadzenLabel Component="DateArrivDepart" style="width: 100%" Text="Date Arriv Depart">
                    </RadzenLabel>
                    <RadzenDatePicker style="display: block; width: 100%" @bind-Value="@(courrier.DateArrivDepart)" Name="DateArrivDepart">
                    </RadzenDatePicker>
                    <RadzenLabel Component="DateCorresp" style="width: 100%" Text="Date Corresp">
                    </RadzenLabel>
                    <RadzenDatePicker style="display: block; width: 100%" @bind-Value="@(courrier.DateCorresp)" Name="DateCorresp">
                    </RadzenDatePicker>
                  </div>
                  <div class="col-md-8">
                    <RadzenLabel Component="Typeid" style="width: 100%" Text="Types Courrier">
                    </RadzenLabel>
                    <RadzenDropDown Data="@getTypesCourriersResult" Placeholder="Choose TypesCourrier" style="width: 100%" TextProperty="NomType" @bind-Value="@(courrier.Typeid)" ValueProperty="Id" Name="Typeid">
                    </RadzenDropDown>
                    <RadzenLabel Component="Categorid" style="width: 100%" Text="Category">
                    </RadzenLabel>
                    <RadzenDropDown Data="@getCategoriesResult" Placeholder="Choose Category" style="width: 100%" TextProperty="NomCateg" @bind-Value="@(courrier.Categorid)" ValueProperty="Id" Name="Categorid">
                    </RadzenDropDown>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <RadzenLabel Component="Correspid" style="width: 100%" Text="Correspondant">
                    </RadzenLabel>
                    <RadzenDropDown Data="@getCorrespondantsResult" Placeholder="Choose Correspondant" style="width: 100%" TextProperty="Nom" @bind-Value="@(courrier.Correspid)" ValueProperty="Id" Name="Correspid">
                    </RadzenDropDown>
                  </div>
                  <div class="col-md-8">
                    <RadzenLabel Component="Correspid" style="width: 100%" Text="Observation">
                    </RadzenLabel>
                    <RadzenTextBox style="width: 100%" Name="Textbox0">
                    </RadzenTextBox>
                  </div>
                </div>
              </ChildContent>
            </RadzenCard>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-9">
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
