@page "/courrier"
@layout MainLayout
@inherits ArchiveCorr.Pages.CourrierComponent

@using Radzen
@using Radzen.Blazor
@using ArchiveCorr.Models.Appdb
@using Microsoft.AspNetCore.Identity;
@using ArchiveCorr.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Courrier</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-10">
        <RadzenAlert AlertStyle="AlertStyle.Primary" AllowClose="false" Icon="email" Size="AlertSize.Small" style="font-size: 20px" Title="المراسلات" Variant="Variant.Outlined">
        </RadzenAlert>
      </div>
      <div class="col-md-2">
        <RadzenButton Icon="add_circle_outline" style="height: 75%; margin-bottom: 8px; margin-top: 8px; width: 100%" Text="إضافة" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getCourriersResult" FilterMode="Radzen.FilterMode.Simple" TItem="ArchiveCorr.Models.Appdb.Courrier" PageSize="20" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="ArchiveCorr.Models.Appdb.Courrier" Property="numInterne" Title="N°" Width="100px">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ArchiveCorr.Models.Appdb.Courrier" Property="num" Title="رقم المراسلة" Width="100px">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ArchiveCorr.Models.Appdb.Courrier" FormatString="{0:d}" Property="DateArrivDepart" Title="تاريخ الوصول" Width="120px">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ArchiveCorr.Models.Appdb.Courrier" FormatString="{0:d}" Property="DateCorresp" Title="تاريخ المراسلة" Width="120px">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ArchiveCorr.Models.Appdb.Courrier" FilterProperty="Correspondant.Nom" GroupProperty="Correspondant.Nom" Property="Correspid" SortProperty="Correspondant.Nom" Title="المرسل" Width="250px">
              <Template Context="data">
              @(data.Correspondant?.Nom)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ArchiveCorr.Models.Appdb.Courrier" Property="Objet" Title="الموضوع">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ArchiveCorr.Models.Appdb.Courrier" FilterProperty="Category.NomCateg" GroupProperty="Category.NomCateg" Property="Categorid" SortProperty="Category.NomCateg" Title="الصنف" Width="250px">
              <Template Context="data">
              @(data.Category?.NomCateg)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ArchiveCorr.Models.Appdb.Courrier" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="archiveCorrModelsAppdbCourrier">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, archiveCorrModelsAppdbCourrier))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
